@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@font-face {
    font-family: GothicPixels;
    src:url("../assets/fonts/GothicPixels.ttf") format("woff2"),
    src:url("../assets/fonts/GothicPixels.ttf") format("embedded-opentype"),
    src:url("../assets/fonts/GothicPixels.ttf") format("woff"),
    src:url("../assets/fonts/GothicPixels.ttf") format("svg"),
    src:url("../assets/fonts/GothicPixels.ttf") format("truetype");
}
@font-face {
  font-family: SpaceMono-Bold;
    src:url("../assets/fonts/SpaceMono-Bold.ttf") format("woff2"),
    src:url("../assets/fonts/SpaceMono-Bold.ttf") format("embedded-opentype"),
    src:url("../assets/fonts/SpaceMono-Bold.ttf") format("woff"),
    src:url("../assets/fonts/SpaceMono-Bold.ttf") format("svg"),
    src:url("../assets/fonts/SpaceMono-Bold.ttf") format("truetype");
}


body {
  background-color: rgb(14, 14, 26);
  /*background-image: url("../img/mono.png");*/
  height: 16rem;
  background-image: radial-gradient(circle, rgb(36, 45, 56) 2px, rgb(8, 8, 19) 2px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
}

.menu{
  padding: 15px;
  font-family: "GothicPixels";
  font-size: 3vw;
  color: rgb(170, 170, 197);

}


.link{
  font-family: "GothicPixels";
  font-size: 5.5vw;
  padding: 12px;
}

a{
 color:rgb(255, 255, 255);
 text-decoration: none; 
 text-align: center;
}

.imgg{
  position: relative;
  display: block;
  width: 55vw;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 80% auto;
  border-radius: 50%;
  margin-bottom: 100px;
  filter:grayscale(100%) drop-shadow(0px 10px 10px #161633) ;
}

.main{
  font-family: SpaceMono-Bold;
  min-height: 25vw;
  font-size: 5vw;
  color: white;
  display: block;
  width: 85%;
  margin: auto;
  background-color: rgb(21, 21, 29);
  outline-style: solid;
  border-style: none none solid none;
  border-width: 10px;
  padding: 2%;
  border-radius: 0px;
}

.headd{ 
  position: sticky;
  text-align: center;
  background-color: rgb(36, 36, 48);
  width: 80% auto;
  max-height: 10;
  outline-style: solid;
  border-style: none none solid none;
  border-width: 10px;
  padding: 15px;
  border-radius: 2px;
}

.icons{
  margin-left: 10px;
  margin-right: 10px;
  font-family: SpaceMono-Bold;
  text-decoration: none;
}

.footer{
  bottom: 0;
  padding: 5%;
  text-align: center;
  color: white;

}
