@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: GothicPixels;
  src: url("../fonts/GothicPixels.ttf") format("truetype");
}
@font-face {
  font-family: SpaceMono-Bold;
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
}

html { cursor: none; }

body {
  background-color: rgb(180, 180, 245);
  min-height: 100vh;
  background-image: radial-gradient(circle, rgb(132, 174, 226) 2px, rgb(180, 180, 245) 2px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
  font-family: GothicPixels, "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.headd, .bob { 
  text-align: start;
  background-color: rgb(36, 36, 48);
  display: flex;
  width: 95% auto;
  max-height: 10;
  outline-style: solid;
  border-style: none none solid none;
  border-width: 10px;
  padding: 8px;
  margin: 10px;
  border-radius: 2px;
  top: 10px;
  position: absolute;
}

.infoscr {
  text-align: center;
  position: relative;
  top: 2vh;
  width: 100%; 
  font-family: SpaceMono-Bold;
  font-weight: 200;
}

.scrollind {
  width: auto;          
  height: 10vw;
  border-radius: 2px;       
  background-color: #5e4caf; 
  display: flex;
  justify-content: center;  
  align-items: center;     
  color: white;
  align-self: center;
  margin-top: 50%;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: #000 2px solid;
  visibility: hidden;
  text-decoration: none;
}

.link {
  font-family: "GothicPixels";
  font-size: 6.5vw;
  color: #fff;
}

.menu, .ui-btn {
  font-size: 5.5vw;
  padding: 8px;
  color: #000;
  display: none;
}

.heading {
  font-family: "GothicPixels";
  font-size: 18vw;
  line-height: 0.95;
  margin: 30vh 0 4vw;
  text-align: center;
  color: rgba(0,0,0,0.85);
  text-shadow: 2px 2px 5px rgba(86,116,161,0.6);
}

.para {
  font-family: "SpaceMono-Bold";
  font-size: 7.5vw;
  font-weight: 600;
  text-align: center;
  margin: 0 6vw 10vw;
  color: rgba(0,0,0,0.35);
  text-shadow: 1px 1px 4px rgba(86,116,161,0.4);
}

.ui-btn {
  display: inline-block;
  width: 46%;
  min-width: 120px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  background: rgba(255,255,255,0.06);
  display: none;
}

.boxx, .main {
  margin: 4vw 6vw;
  padding: 4vw;
  border-width: 6px;
  border-style: none none solid none;
  border-color: rgba(0,0,0,0.08);
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
}

.foot {
  font-size: 3.5vw;
  margin: 12vw 0 6vw;
  padding: 12px;
  text-align: center;
  color: rgba(0,0,0,0.6);
}

.circle {
  width: 64px;
  height: 64px;
  mix-blend-mode: difference;
}

.terminal-loader {
  width: 10.5em;
  padding: 1.2em 0.8em;
  font-size: 0.95em;
}

.imgg {
  display: block;
  margin: 0 auto 8vw;
  width: 60%;
  max-height: 40vw;
  opacity: 0.18;
  border-radius: 50%;
}

@media (max-width: 360px) {
  .heading { font-size: 20vw; margin-top: 22vw; }
  .para { font-size: 8.5vw; }
  .ui-btn { width: 100%; margin-bottom: 8px; }
}